html,
body {
    height: 100%;
    margin: 0;
    background-image: url("xp.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    overflow: hidden;
    resize: none;
}

#start-btn {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 6.3%;
    height: 4%;
}

#start-btn:hover {
    cursor: move;
}

.bottom-line {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 93.9%;
    height: 4%;
    /* border-top-left-radius: 10px; */
    background-color: #2596be;
}

#programs {
    background-image: url("programs.png");
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 72%;
    width: 28%;
    display: inline;
    bottom: 4.25%;
    left: 0;
    /* crop image */
    border: 10px;
}


/* 
#programs img {
    height: 80%;
    width: 20%;
} */

* {
    z-index: 1;
}

.cmd {
    position: absolute;
    left: 0;
    bottom: 45.3%;
    width: 13%;
    height: 6%;
    /* outline: 1px solid red; */
    z-index: 3;
}

.cmd:hover {
    cursor: pointer;
}

.cmd-window {
    position: absolute;
    display: inline;
    background-image: url("cmd.png");
    width: 700px;
    height: 350px;
    background-repeat: no-repeat;
    /* outline: 1px solid red; */
}

.window-bar {
    display: inline-block;
    position: absolute;
    width: 81.5%;
    height: 9%;
    /* outline: 1px solid red; */
}

#close-cmd {
    position: absolute;
    width: 5%;
    height: 9%;
    right: 0.5%;
    /* outline: 5px solid red; */
}

#close-cmd:hover {
    cursor: pointer;
}

#startup-img {
    position: fixed;
    background-image: url("startup.jpg");
    background-size: 100% 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}