html,
body {
    height: 100%;
    margin: 0;
    background-image: url("xp.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    overflow: hidden;
}

#start-btn {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
}

#start-btn:hover {
    cursor: move;
}

.bottom-line {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 93.9%;
    height: 27px;
    /* border-top-left-radius: 10px; */
    background-color: #2596be;
}

#programs {
    display: none;
    position: absolute;
    bottom: 3%;
    left: 0;
    /* crop image */
    margin-left: -20px;
}

* {
    z-index: 1;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 2;
}

#video-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
}

#video-bg>video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cmd {
    position: absolute;
    left: 0;
    bottom: 48%;
    width: 220px;
    height: 50px;
    /* outline: 1px solid red; */
    z-index: 3;
}

.cmd:hover {
    cursor: pointer;
}

.cmd-window {
    position: absolute;
    display: inline;
    background-image: url("cmd.png");
    width: 700px;
    height: 350px;
    background-repeat: no-repeat;
    /* outline: 1px solid red; */
}

.window-bar {
    display: inline-block;
    position: absolute;
    width: 81.5%;
    height: 9%;
    /* outline: 1px solid red; */
}

#close-cmd {
    position: absolute;
    width: 5%;
    height: 9%;
    right: 0.5%;
    /* outline: 5px solid red; */
}

#close-cmd:hover {
    cursor: pointer;
}

#startup-img {
    position: fixed;
    background-image: url("startup.jpg");
    background-size: 100% 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}